{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Latent Semantic Indexing</h1>
    <table class="table table-hover">

    </table>

    <link href="nv.d3.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="nv.d3.min.js"></script>

        <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        html, body, #chart1, svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>

    <table width="100%">
    <tr>
        <td>
            topic 1
        </td>
        <td>
            <div id="chart1">
            <svg></svg>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            topic 2
        </td>
        <td>
            <div id="chart2">
            <svg></svg>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            topic 3
        </td>
        <td>
            <div id="chart3">
            <svg></svg>
            </div>
        </td>
    </tr>
    </table>


<script>
    historicalBarChart = [
        {
            key: "Topic Modeling",
            values: {{ topic1 }}
        }
    ];
    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .staggerLabels(true)
            //.staggerLabels(historicalBarChart[0].values.length > 8)
            .showValues(true)
            .duration(250)
            ;
        d3.select('#chart1 svg')
            .datum(historicalBarChart)
            .call(chart);
        nv.utils.windowResize(chart.update);
        return chart;
    });

    historicalBarChart2 = [
        {
            key: "Topic Modeling",
            values: {{ topic2 }}
        }
    ];
    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .staggerLabels(true)
            //.staggerLabels(historicalBarChart[0].values.length > 8)
            .showValues(true)
            .duration(250)
            ;
        d3.select('#chart2 svg')
            .datum(historicalBarChart2)
            .call(chart);
        nv.utils.windowResize(chart.update);
        return chart;
    });

        historicalBarChart3 = [
        {
            key: "Topic Modeling",
            values: {{ topic3 }}
        }
    ];
    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .staggerLabels(true)
            //.staggerLabels(historicalBarChart[0].values.length > 8)
            .showValues(true)
            .duration(250)
            ;
        d3.select('#chart3 svg')
            .datum(historicalBarChart3)
            .call(chart);
        nv.utils.windowResize(chart.update);
        return chart;
    });
</script>



{% endblock %}
